html body #app {
  height: 100vh;
  min-width: 1366px;
}

/* span::selection,p::selection,pre::selection,input::selection,img::selection,div::selection,li::selection,em::selection,a::selection,i::selection,h1::selection,h2::selection,strong::selection {
    color:#FFFFFF;
    background-color:blue;
    text-shadow:none;
} */

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* .el-card {
  padding-top: 25px;
  min-height: 550px;
} */

.ql-editor {
  max-height: 400px;
  min-height: 400px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg);
}

.html[theme='dark-mode'] img {
  filter: invert(1) hue-rotate(180deg);
}
